* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.salida-1-text {
    display: flex;
}



/* Aca va el testmenu */
/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.menu-toggle span {
    background-color: #fff;
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
    width: 30px;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-list li {
    margin: 0 10px;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.menu-list li a:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .menu-list.show {
        display: flex;
    }

    .menu-list li {
        margin: 10px 0;
    }
}


.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 20px;
    
}

.menu-title {
    padding: 30px;
}

.colors {
    display: flex;
    padding: 30px;
} 

/* color scheme 1 */

.p1 {
    background-color: #8ecae6;
    padding: 50px;
}

.p2 {
    background-color: #219ebc;
    padding: 50px;
}

.p3 {
    background-color: #023047;
    color: #fff;
    padding: 50px;
}

.p4 {
    background-color: #ffb703;
    padding: 50px;
}

.p5 {
    background-color: #fb8500;
    padding: 50px;
}

/* color scheme 2 */

.p6 {
    background-color: #cfdbd5;
    padding: 50px;
}

.p7 {
    background-color: #e8eddf;
    padding: 50px;
}

.p8 {
    background-color: #f5cb5c;
    padding: 50px;
}

.p9 {
    background-color: #242423;
    padding: 50px;
    color: #fff;
}

.p10 {
    background-color: #333533;
    padding: 50px;
}

/* color scheme 3 */

.p11 {
    background-color: #320e3b;
    padding: 50px;
    color: #fff;
}

.p12 {
    background-color: #4c2a85;
    padding: 50px;
}

.p13 {
    background-color: #6b7fd7;
    padding: 50px;
}

.p14 {
    background-color: #bcedf6;
    padding: 50px;
}

.p15 {
    background-color: #ddfbd2;
    padding: 50px;
}