* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colors {
    display: flex;
    padding: 30px;
} 

/* color scheme 1 */

.p1 {
    background-color: #8ecae6;
    padding: 50px;
}

.p2 {
    background-color: #219ebc;
    padding: 50px;
}

.p3 {
    background-color: #023047;
    color: #fff;
    padding: 50px;
}

.p4 {
    background-color: #ffb703;
    padding: 50px;
}

.p5 {
    background-color: #fb8500;
    padding: 50px;
}

/* color scheme 2 */

.p6 {
    background-color: #cfdbd5;
    padding: 50px;
}

.p7 {
    background-color: #e8eddf;
    padding: 50px;
}

.p8 {
    background-color: #f5cb5c;
    padding: 50px;
}

.p9 {
    background-color: #242423;
    padding: 50px;
    color: #fff;
}

.p10 {
    background-color: #333533;
    padding: 50px;
}

/* color scheme 3 */

.p11 {
    background-color: #320e3b;
    padding: 50px;
    color: #fff;
}

.p12 {
    background-color: #4c2a85;
    padding: 50px;
}

.p13 {
    background-color: #6b7fd7;
    padding: 50px;
}

.p14 {
    background-color: #bcedf6;
    padding: 50px;
}

.p15 {
    background-color: #ddfbd2;
    padding: 50px;
}