* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#p1 {
    background-color: #8ecae6;
}

#p2 {
    background-color: #219ebc;
}

#p3 {
    background-color: #023047;
}

#p4 {
    background-color: #ffb703;
}

#p5 {
    background-color: #fb8500;
}